<div class="product ">
    <ul class="product-labels"></ul>
    <div class="product-img-wrap">
        <img class="product-img-primary" src="/commerce/pages/img/{{ image }}" alt="Image Alternative text"
             title="Image Title"/>
        <img class="product-img-alt" src="/commerce/pages/img/{{ imageAlt }}" alt="Image Alternative text"
             title="Image Title"/>
    </div>
    <a class="product-link" href="{{ href }}"></a>
    <div class="product-caption">
        <ul class="product-caption-rating">
            <li class="rated"><i class="fa fa-star"></i>
            </li>
            <li class="rated"><i class="fa fa-star"></i>
            </li>
            <li class="rated"><i class="fa fa-star"></i>
            </li>
            <li class="rated"><i class="fa fa-star"></i>
            </li>
            <li class="rated"><i class="fa fa-star"></i>
            </li>
        </ul>
        <h5 class="product-caption-title"> {{ nom }}</h5>
        <div class="product-caption-price"><span class="product-caption-price-new">{{ prix }}</span>
        </div>
        <ul class="product-caption-feature-list">
            <li>Livraison Gratuite</li>
        </ul>
    </div>
</div>